<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lmnp.wirtualnaapteczka">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FirstTimeWelcomeActivity" />
        <activity
            android:name=".activity.LogInActivity"
            android:label="@string/log_in_app" />
        <activity android:name=".activity.RegistrationActivity"
            android:label="@string/registration"/>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.AddMedicineActivity"
            android:label="@string/information_medicine" />
        <activity
            android:name=".activity.MedicineListActivity"
            android:label="@string/list_medicines" />
        <activity
            android:name=".activity.FamilyActivity"
            android:label="@string/family" />
        <activity android:name=".activity.PasswordReminderActivity"
            android:label="@string/reminder" />
    </application>

</manifest>